<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @role.name %>
</p>

<p>
  <strong>Level:</strong>
  <%= @role.level %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @role.comments %>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
